In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")

In [16]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   T1           19735 non-null  float64
 2   RH_1         19735 non-null  float64
 3   T2           19735 non-null  float64
 4   RH_2         19735 non-null  float64
 5   T3           19735 non-null  float64
 6   RH_3         19735 non-null  float64
 7   T4           19735 non-null  float64
 8   RH_4         19735 non-null  float64
 9   T5           19735 non-null  float64
 10  RH_5         19735 non-null  float64
 11  T6           19735 non-null  float64
 12  RH_6         19735 non-null  float64
 13  T7           19735 non-null  float64
 14  RH_7         19735 non-null  float64
 15  T8           19735 non-null  float64
 16  RH_8         19735 non-null  float64
 17  T9           19735 non-null  float64
 18  RH_9         19735 non-null  float64
 19  T_out        19735 non-null  float64
 20  Press_mm_hg  19735 non-null  float64
 21  RH_out       19735 non-null  float64
 22  Windspeed    19735 non-null  float64
 23  Visibility   19735 non-null  float64
 24  Tdewpoint    19735 non-null  float64
 25  rv1          19735 non-null  float64
 26  rv2          19735 non-null  float64
dtypes: float64(26), int64(1)
memory usage: 4.1 MB

In [75]:
x = df1['T2']
y = df1['T6']

In [81]:
x = pd.DataFrame(x)
y = pd.DataFrame(y)

In [82]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [83]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
# fit the model into the training dataset
linear_model.fit(x_train,y_train)
# obtain predictions
predicted_values = linear_model.predict(x_test)

#### R-Squared

In [84]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,predicted_values)
round(r2_score,2)

0.64

In [18]:
# Dropping lights and date columns
df1 = df.drop(columns=['lights','date'])

In [43]:
# Firstly we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler

In [44]:
scaler = MinMaxScaler()
normalised_df1 = pd.DataFrame(scaler.fit_transform(df1),columns=df1.columns)
# separating the predictors and target variable
df1_features = normalised_df1.drop(columns=['Appliances'])
appliances_target = normalised_df1['Appliances']

In [45]:
normalised_df1.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
x_train, x_test, y_train, y_test = train_test_split(df1_features,
                                                    appliances_target, 
                                                    test_size=0.3,
                                                    random_state=42)

## Linear Regression Model

In [63]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
# fit the model into the training dataset
linear_model.fit(x_train,y_train)
# obtain predictions
predicted_values = linear_model.predict(x_test)

#### Mean Absolute Error

In [49]:
# MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,predicted_values)
round(mae,2)

0.05

#### Residual Sum of Square

In [50]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss,2)

45.35

#### Root Mean Square Error (RMSE)

In [51]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

#### Coefficient of Determination/ R-Squared

In [52]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,predicted_values)
round(r2_score,2)

0.15

In [64]:
def get_weights_df(model, feat, col_name):
    # this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    # .sort_values() arranges weight in ascending/descending order
    weights_df = pd.DataFrame(weights).reset_index()
    # .reset_index() renumbers the dataframe from 0
    weights_df.columns = ['Features', col_name]
    # assign the column names 'Features' and col_name from the function
    weights_df[col_name].round(3)
    return weights_df

In [65]:
linear_model_weights = get_weights_df(linear_model,x_train,'Linear_Model_Weight')

In [67]:
linear_model_weights.describe()

       Linear_Model_Weight
count         2.600000e+01
mean          8.703379e-04
std           2.240341e+10
min          -7.920800e+10
25%          -6.938465e-02
50%           1.129704e-02
75%           8.154087e-02
max           7.920800e+10

In [66]:
linear_model_weights

       Features  Linear_Model_Weight
0           rv1        -7.920800e+10
1          RH_2        -4.568602e-01
2         T_out        -3.219087e-01
3            T2        -2.363151e-01
4            T9        -1.899521e-01
5          RH_8        -1.576331e-01
6        RH_out        -7.765954e-02
7          RH_7        -4.455998e-02
8          RH_9        -3.980982e-02
9            T5        -1.564582e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.865117e-03
12           T7         1.029490e-02
13   Visibility         1.229919e-02
14         RH_5         1.600441e-02
15         RH_4         2.641767e-02
16           T4         2.900741e-02
17    Windspeed         2.920699e-02
18         RH_6         3.806579e-02
19         RH_3         9.603256e-02
20           T8         1.020032e-01
21    Tdewpoint         1.177851e-01
22           T6         2.364673e-01
23           T3         2.907420e-01
24         RH_1         5.535923e-01
25          rv2         7.920800e+10

## Ridge regression model

In [60]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=0.4)

In [73]:
predicted_values = ridge_reg.predict(x_test)

#### RSME

In [74]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

## Lasso Regression model

In [68]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)

Lasso(alpha=0.001)

In [69]:
predicted_values = lasso_reg.predict(x_test)

In [70]:
lasso_weights_df = get_weights_df(lasso_reg,x_train,'Lasso_Weight')

In [71]:
lasso_weights_df

       Features  Lasso_Weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [88]:
lasso_weights_df[lasso_weights_df['Lasso_Weight'] != 0].count()

Features        4
Lasso_Weight    4
dtype: int64

#### RMSE

In [72]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.094

# THANK YOU!!!